
body {
  position: relative;
  font-family: 'Merriweather', serif;
  font-weight: 700;

  @media (min-width: 700px) {

    .nopadding {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}

.container-fluid {

  pre {
    @include border-radius(5px);
  }
}

.top-section {
  background: $site-white;

  h1, .lead {
    font-family: 'Merriweather', serif;
    color: $site-md-blue;
  }

  h1 {
    font-weight: 900;
    padding-bottom: 0.50em;
  }

  .lead {
    font-size: 2.50em;
    font-weight: 700;
    padding-bottom: 3.0em;
  }

  a {
    display: block;
  }

  img {
    max-width: 200px;

    @media (min-width: 1200px) {

      max-width: 300px;
    }
  }
}


p {

  @media (min-width: 700px) {

    .nopadding {
      font-size: 20px;
    }
  }
}

h2 {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  text-align: center;
  padding-top: 1.50em;
  padding-bottom: 1.50em;

  small {
    color: $site-white;
    font-family: 'Merriweather', serif;
    font-weight: 400;
  }
}

ul, .row-code-ex {

  @media (min-width: 700px) {

    padding-left: 150px;
    padding-right: 150px;
  }
}

.row-code-ex {

  a {
    text-decoration: underline;

    @media (min-width: 700px) {

      font-size: 20px;
    }
  }
}

ul {


  li {
    padding-bottom: 16px;

    @media (min-width: 700px) {

      font-size: 30px;
    }
  }

  li a {
    text-decoration: underline;
  }
}

.section-2, .section-5 {
  background: $site-md-blue;

  h2, ul li, p {
    color: $site-white;
  }

  a {
    color: $site-white;

    &:hover {
      color: $site-white;
    }
  }
}

.section-3, .section-6 {
  background: $site-dk-blue;

  h2, ul li, p {
    color: $site-offwhite;
  }

  a {
    color: $site-offwhite;

    &:hover {
      color: $site-offwhite;
    }
  }
}

.section-4, .section-7 {
  background: $site-red;

  h2, ul li, p {
    color: $site-white;
  }

  a {
    color: $site-white;

    &:hover {
      color: $site-white;
    }
  }
}

// keyframe animation for top section arrow
@keyframes ani-bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: (translateY(0));
  }
  40% {
    transform: (translateY(-30px));
  }
  60% {
    transform: (translateY(-15px));
  }
}

.arrow {
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: -20px;
  width: 50px;
  height: 28px;
  background-image: url('../img/carrot-down@2x.png');
  background-size: contain;
}

.bounce {
  animation: ani-bounce 2s infinite;
}
